* {
    margin: 0;
    padding: 0;
}

#bars {
    display: none;
    color: white;
    font-size: 2rem;
}

.navList {
    background: rgb(15, 13, 52);
    background: linear-gradient(90deg, rgba(15, 13, 52, 1) 0%, rgba(124, 32, 126, 1) 58%, rgba(19, 90, 105, 1) 100%);
    width: 100%;
    height: 3.5rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    margin: 5px;
}

.navLinks {
    text-decoration: none;
    color: white;
    margin: 1.1em;
    display: inline-block;
    font-size: 1.3em;
}

.navLinks:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-style: underline;
    transition: transform 0.2s ease-in-out;

}

#navLogo {
    font-size: 2rem;
    margin-left: 5px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

body {
    background-color: rgba(7, 7, 27, 0.959);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    background-color: rgba(84, 84, 87, 0.565);
    width: 100%;
    text-align: center;
    height: 4.5em;
    color: white;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containItems {
    height: 50%;
    width: 85%;
    background-color: rgba(30, 30, 49, 0.793);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 2.5em;
    border-radius:10px ;
    box-sizing: border-box;
    padding: 50px;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item1 {
    background-color: rgba(15, 15, 40, 0.9);
}

.mainItems {
    box-shadow: 10px 10px 20px rgb(151, 143, 143);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 15, 40, 0.9);
    margin: 40px;
    height:350px;
    width:300px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.mainItems:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

@media (max-width:540px) {
    .navLinks {
        display: none;
    }

    #bars {
        display: inline;
    }
}

#topHeading {
    text-align: center;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "Grechen Fuemen", serif;
    font-weight: 700;
    font-size:3em;
    font-style: normal;
    text-shadow: 2px 2px 10px white;
}



.images{
    height: 150px;
    width:180px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

#GulabJamuns{
    background-image: url(gulabJamun.jpg);
}

#Pizza{
    background-image: url(pizza.jpg);
}

#Pancakes{
    background-image: url(panCake.jpg);
}

#Cupcakes{
    background-image: url(cupcake.jpg);
}

#Salads{
    background-image: url(salade.jpg);
}

#Donuts{
    background-image: url(donuts.jpg);
}

